{%  extends 'accounts/main.html' %}

{% block content %}

{% load static  %}




    <!-- About Start -->
    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-4 align-items-end">
                <div  class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-5" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Jurmey Gewog</h1>
                    <h5 class="mb-5" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Jurmey Gewog is a Gewog (Village Block) <br> of Mongar District, Bhutan</h5>
                </div>

                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src={% static 'css/img/ann1.jpg' %}>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src={% static 'css/img/ann2.jpg' %}>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src={% static 'css/img/ann3.jpg' %}>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- About End -->
<br><br>

<!-- announcement list -->
 
<div class="section-container">
    <div class="columns content">
       <div class="content-container">
          <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">About Jurmey Gewog</h5>
          <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            Jurmey Gewog is one of the Gewog under Mongar district, and it has a area covering 55-square-kilometer  with a motorable farm road connected and have electricity and telecommunications services. There are 350 households in the Gewog, with total population of 2646  (1329 Male and 1317 Female). Rinchen Norbu and Pema Wangchuk are the current Gup and Mangmi of Jurmed Gewog. The Gewog has 5 chiwog (Ngamphu Sangkama, Bilam Dangkila, Moogtangkhar Tsangkhazor, Moodoongkhar Tselam, and Kognala Ya-Ra) , led by Tsokpas  (Tobgyal, Yeshi Wangchuk, Thinley Dendup, Tshering Lham, and Kinley Wangmo) respectively.
          </p>
       </div>
    </div>
    <div class="columns image" style="background-image:url( '{% static "/css/img/jurmi.jpg" %}' ) ";>
        &nbsp;
     </div>
</div>

<div class="section-container">
    <div class="columns image" style = "background-image:url( '{% static "/css/img/history.png" %}' ) ;">
        &nbsp;
     </div>
    <div class="columns content">
       <div class="content-container">
          <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">History Of Jurmey</h5>
          <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            Jurmey was governed by Khengkhar Gewog until to 1998. After Jurmey Gewog  was established,the first Gup and Mangmi under Jurmey Gewog, were Zangpo (1998–2001) and Tobgyal (1998-2004). Rinchen Gyalpo and Sangay Duba were the first democratically elected Jurmey Gup and Mangmi, respectively.
The Gewog received its powerline in 2013, allowing for the distribution of electricity to every home, and by 2015, the road connection had been completed, facilitating easy mobility. Prior to then, hourses were needed to transport necessities from Gyalpozing back to the settlement, which took four days.
For their fine arts and crafts, Jurmey Gewog has long been renowned. Out of everything, Jandob (native Ara container), which served as their identity and was manufactured from Dongtsong shing (local-dilect), is thought to be durable.
          </p>
       </div>
    </div>
   
</div>

<div class="section-container">
    <div class="columns content">
       <div class="content-container">
          <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Festival of Jurmey</h5>
          <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            The Gewog Tsechu, which begins on the sixth day of the ninth month and ends on the tenth day of Bhutanese calender, is the most significant local celebration in jurmey Gewog. The Gewog Tsechu lasts for 4 days and ends with Guru Rinpoche Thongdrel falls on Guru Rinpoche's birthday. Around 23 different types of mask dances are performed during Gewog Tsechu along with traditional dances. The purpose of this festival is to purify the negative collected merit and keep them safe from dangerous evil spirits, which will promote harmony and a prosperous life for the Gewog.
Another festival, known as the Kangsay in the language of the jurmey Gewog, is celebrated by every home as a means of making an offering to their god as to prevent from evil spirits and prevent from any obstacles in the present life.
          </p>
       </div>
    </div>

    <div class="columns image" style="background-image:url( '{% static "/css/img/festival.jpg" %}' )";>
        &nbsp;
     </div>
     </div>
   
</div>


{% endblock %}