{%  extends 'accounts/main2.html' %}

{% block content %}

{% load static  %}
   
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
            swal({
            title: "Password Changed",
            text: "You have changed your password successfully!!!",
            type: "success",
            icon: "success",
        }).then(function() {
            window.location = "https://gewog-system.herokuapp.com/"
        });
    </script>

 {% endblock  %}
